<h4>Enter unavailable dates for your Space</h4>

<form action="/my-spaces" method="post">
  <label for="start_date">Start Date:</label>
  <input type="date" id="start_date" name="start_date">
  <label for="end_date">End Date:</label>
  <input type="date" id="end_date" name="end_date">
  <input type="submit" value="Submit">
</form>

