<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/booking_style.css"/>
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">  
</head>
<body>
  <h1> Welcome to Makers Bnb </h1>
<div class="container">
  <h2> Which night would you like to stay? </h2>
  
      <form action="/booking/availability" method="get">
      <input type="date" id="date" name="date" />
      <p><input type="submit" id="button" value="See available spaces" /></p>
    
</form>
</div>
</body>
</html>